///////////////////////////////////
// HEADER

.header {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba($color-grey-dark-2, 0.5),
      rgba($color-grey-dark-2, 0.5)
    ),
    url(../img/hero-large.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-rows: 8rem auto;

  grid-template-areas:
    "nav"
    "hero";

  &__pages {
    height: 70vh;

    &--contact {
      background-image: linear-gradient(
          to right,
          rgba($color-grey-dark-2, 0.7),
          rgba($color-grey-dark-2, 0.7)
        ),
        url(../img/img-6.jpg);
    }
    &--find-us {
      background-image: linear-gradient(
          to right,
          rgba($color-grey-dark-2, 0.7),
          rgba($color-grey-dark-2, 0.7)
        ),
        url(../img/img-5.jpg);
    }
    &--reservations {
      background-image: linear-gradient(
          to right,
          rgba($color-grey-dark-2, 0.6),
          rgba($color-grey-dark-2, 0.6)
        ),
        url(../img/img-4.jpg);
    }
  }
}

.navigation {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;

  &__icon {
    position: relative;
    cursor: pointer;
    height: 3rem;
    width: 4rem;

    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 30%;
      width: 4rem;
      height: 4px;
      background-color: $color-grey-light-1;
      border-radius: 1rem;
      transition: all 0.4s;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: 70%;
      right: 0;
      width: 2.8rem;
      height: 4px;
      background-color: $color-grey-light-1;
      border-radius: 1rem;
      transition: all 0.4s;
    }
  }
  &__btn:hover > &__icon::before {
    top: calc(30% - 0.2rem);
  }
  &__btn:hover &__icon::after {
    top: calc(70% + 0.2rem);
  }
  &__link {
    &,
    &:link,
    &:visited {
      display: inline-block;
      text-decoration: none;
      color: #fff;
      transition: all 0.3s ease;
      transform: scale(1);

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__checkbox {
    display: none;
  }

  &__btn {
    cursor: pointer;
    width: 3.5rem;
    height: 3.5rem;
  }

  &__grid {
    display: none;
  }
  &__grid-cell {
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &--link:link,
    &--link:visited,
    & {
      text-decoration: none;
      color: #fff;
      font-size: 4rem;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      transition: all 0.3s;
      position: relative;
      padding: 0.5rem 0.25rem;
      overflow: hidden;
      text-align: center;

      @media only screen and (max-width: $bp-phone) {
        font-size: 3.2rem;
      }

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 100%;
        height: 2px;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s;
      }
      &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 98%;
        left: -100%;
        height: 4px;
        width: 100%;
        background-color: #fff;
        transition: all 0.3s;
      }

      &:hover {
        color: darken(#fff, 10%);
        letter-spacing: 0.12rem;

        &::before {
          left: 0;
        }
        &::after {
          left: 0;
        }
      }
    }

    &--1 {
      grid-row: 1 / 4;
      grid-column: 1/2;
      background-image: linear-gradient(
          to right bottom,
          rgba($color-primary, 0.8),
          rgba($color-primary, 0.8)
        ),
        url(../img/img-8.jpg);
    }
    &--2 {
      grid-row: 4 / 5;
      grid-column: 1/ -1;
      background-image: linear-gradient(
          to right bottom,
          rgba(#000, 0.8),
          rgba(#000, 0.8)
        ),
        url(../img/img-4.jpg);
    }
    &--3 {
      grid-row: 1 / 3;
      grid-column: 2/ -1;
      background-image: linear-gradient(
          to right bottom,
          rgba(#000, 0.8),
          rgba(#000, 0.8)
        ),
        url(../img/img-1.jpg);
      background-position: bottom;
    }
    &--4 {
      grid-row: 3 / 4;
      grid-column: 2/ -1;
      background-image: linear-gradient(
          to right bottom,
          rgba($color-grey-light-4, 0.8),
          rgba($color-grey-light-4, 0.8)
        ),
        url(../img/img-7.jpg);
      background-position: left;
    }
  }

  &__checkbox:checked ~ &__grid {
    background-color: #fff5f5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: grid;
    grid-template-columns: 3fr 20rem 20rem;
    grid-template-rows: 10rem 1fr 2fr 2fr;

    @media only screen and (max-width: $bp-phone) {
      grid-template-columns: 3fr 15rem 6rem;
    }
  }
  &__checkbox:checked ~ &__btn &__icon {
    background-color: #fff5f5;
  }
  &__checkbox:checked ~ &__btn &__icon::before {
    z-index: 1500;
    top: 0;
    top: 50%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #fff;
  }
  &__checkbox:checked ~ &__btn &__icon::after {
    z-index: 1500;
    top: 0;
    top: 50%;
    width: 4rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
    background-color: #fff;
  }
  &__checkbox:checked ~ &__grid &__grid-cell {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;

    &--3 {
      animation: show-1 1s ease-in;
    }
    &--4 {
      animation: show-2 2s ease-in;
    }
    &--1 {
      animation: show-2 2s ease-in;
    }
    &--2 {
      animation: show-3 3s ease-in;
    }
  }
}

.hero {
  grid-area: hero;
  place-self: center;
  width: 40%;
  text-align: center;

  @include respond(tab-land) {
    width: 50%;
  }
  @include respond(tab-port) {
    width: 75%;
  }
  @include respond(phone) {
    width: 90%;
  }
  @include respond(phone-small) {
    width: 95%;
  }
}

//////////////////////////////////////////////////////
//SECTIONS LAYOUT

.section {
  padding: 8rem;

  &__about {
    display: grid;
    grid-template-rows: 10rem 10rem 1fr;
    grid-template-columns: 25% 25% 1fr;
    grid-column-gap: 2rem;
  }

  &__features {
    display: grid;
    justify-items: center;
    background-image: linear-gradient(
        to right,
        rgba($color-grey-dark-2, 0.7),
        rgba($color-grey-dark-2, 0.7)
      ),
      url(../img/img-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__delivery {
    display: grid;
    grid-template-rows: 10rem 10rem 1fr;
    grid-template-columns: 1fr 25% 25%;
    grid-column-gap: 2rem;
  }

  &__testimonials {
    padding: 8rem 0;
    background-color: $color-grey-light-6;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.about,
.delivery {
  &__img-1 {
    width: 100%;
    grid-row: 2 / 4;
    grid-column: 1 / 2;

    &--right {
      grid-column: 2 / 3;
      grid-row: 1 / 3;
    }
  }
  &__img-2 {
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 2 / 3;

    &--right {
      grid-column: 3 / 4;
      grid-row: 2 / 4;
    }
  }
  &__description {
    grid-row: 1 / 4;
    grid-column: 3 / 4;
    margin: 0 0 0 3rem;
    // align-self: center;

    &--left {
      grid-column: 1 / 2;
      margin: 0 3rem 0 0;
    }
  }
  &__link {
    &,
    &:link,
    &:visited {
      color: $color-primary;
      text-decoration: none;
      font-weight: 700;
    }
  }
}

.features {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  grid-auto-rows: minmax(20rem, min-content);
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;

  &__box {
    background-color: rgba($color-grey-light-2, 0.8);
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    &:hover {
      transform: scale(1.02);
    }
  }

  &__feature-icon {
    svg {
      width: 5rem;
      height: 5rem;
      fill: $color-primary-dark;
    }
  }
  &__feature-title {
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
  &__description {
    color: $color-grey-dark-3;
    text-align: center;
  }
}

.footer {
  background-color: $color-grey-dark-2;
  display: grid;
  justify-items: center;
  // align-content: center;
  text-align: center;
  grid-row-gap: 3rem;
  padding: 3rem 5rem;

  // &__logo {
  //   width: 10%;
  //   margin-top: 3rem;
  // }

  &__list {
    justify-self: stretch;
    list-style: none;
    margin-top: 3rem;
    width: 90%;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-auto-rows: minmax(5rem, min-content);
    grid-column-gap: 2rem;
  }

  // &__item {
  // }

  &__link:link,
  &__link:visited {
    text-decoration: none;
    color: $color-grey-light-3;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.8rem;
    padding: 2rem 3rem;
    transition: all 0.3s;
    display: inline-block;
    width: 100%;

    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      background-color: lighten($color-grey-dark-2, 10%);
      transform: scale(1.03);
    }
  }

  &__find-links {
    display: flex;

    & > *:not(:last-child) {
      margin-right: 3rem;
    }
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: $color-primary;
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.copyright {
  color: $color-grey-light-4;
  font-weight: 300;
  font-size: 1.6rem;

  &__link:link,
  &__link:visited {
    text-decoration: none;
    font-weight: 400;
    color: currentColor;
  }
}
