/////////////////////////////////////////////////////
// VARIABLES

$color-primary: #e67e22;
$color-primary-dark: #cf711f;

$color-grey-light-1: #f1f3f5; //background & light text
$color-grey-light-2: #f8f9fa; // very light text
$color-grey-light-3: #ced4da;
$color-grey-light-4: #adb5bd;
$color-grey-light-5: #a2a19f;
$color-grey-light-6: #e9ecef;

$color-grey-dark-1: #5e5a4b;
$color-grey-dark-2: #212529; //dark background
$color-grey-dark-3: #343a40; //dark text
$color-grey-dark-4: #495057; //lighter text

$font-family: 'Aleo', serif;

$bp-big-desktop: 112.5em; //1800px
$bp-tab-land: 84.375em; //1350px
$bp-tab-land-small: 68.75em; //1100px
$bp-tab-port: 60.625em; //950px
$bp-phone: 37.5em; //600px
$bp-phone-small: 31.25em; //500px
