.section {
  &__contact {
    margin-top: 0;

    @include respond(phone-small) {
      padding: 5rem;
    }
  }
  &__form {
    padding-top: 0;

    @include respond(phone-small) {
      padding: 5rem;
    }
  }
}
.contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.2);

  &__form {
    width: 50%;
    padding: 5.5rem;

    @include respond(tab-port) {
      width: 60%;
    }
    @include respond(phone) {
      width: 100%;
      padding: 4.5rem;
    }
  }

  &__heading {
    @include respond(phone) {
      font-size: 2.5rem;
    }
  }
}

///////////////////////////////////////////////////////
//CONTACT FORM WEBP SUPPORT AND RESPONSIVENESS
.no-webp .contact {
  background-image: linear-gradient(
      105deg,
      rgba(#fff, 0.9) 0%,
      rgba(#fff, 0.9) 50%,
      transparent 50%
    ),
    url(../img/gal-6-small.jpg);

  @media (min-resolution: 192dpi), (min-width: 120em) {
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 50%,
        transparent 50%
      ),
      url(../img/gal-6.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        100deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 60%,
        transparent 60%
      ),
      url(../img/gal-6-small.jpg);

    @media (min-resolution: 192dpi) {
      background-image: linear-gradient(
          100deg,
          rgba(#fff, 0.9) 0%,
          rgba(#fff, 0.9) 60%,
          transparent 60%
        ),
        url(../img/gal-6.jpg);
    }
  }
  @include respond(phone) {
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 100%,
        transparent 100%
      ),
      url(../img/gal-6-small.jpg);
  }
}

.webp .contact {
  background-image: linear-gradient(
      105deg,
      rgba(#fff, 0.9) 0%,
      rgba(#fff, 0.9) 50%,
      transparent 50%
    ),
    url(../img/gal-6-small.webp);

  @media (min-resolution: 192dpi), (min-width: 120em) {
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 50%,
        transparent 50%
      ),
      url(../img/gal-6.webp);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        100deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 60%,
        transparent 60%
      ),
      url(../img/gal-6-small.webp);

    @media (min-resolution: 192dpi) {
      background-image: linear-gradient(
          100deg,
          rgba(#fff, 0.9) 0%,
          rgba(#fff, 0.9) 60%,
          transparent 60%
        ),
        url(../img/gal-6.webp);
    }
  }
  @include respond(phone) {
    background-image: linear-gradient(
        105deg,
        rgba(#fff, 0.9) 0%,
        rgba(#fff, 0.9) 100%,
        transparent 100%
      ),
      url(../img/gal-6-small.webp);
  }
}
